.secondary-txt {
  color: red;
}

#special {
  color: rgb(102, 33, 33) !important;
}
.plus-special {
  color: rgb(102, 33, 33) !important;
}
#plus-plus-special {
  color: rgb(30, 78, 43) !important;
}
