/* 
.class
#id
element (h1, h2, p, div, main, header ...)

*/

.primary-txt {
  color: #0e0504;
}
.dark-tan {
  color: #4b1f0e;
}
.secondary-txt {
  color: #be7656;
}
.light-tan {
  color: #efc3a4;
}



/* ****************** FONTS ****************** */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}

.article-listing{ 
  display: flex;
  flex-direction: row;
}
/* ****************** MOBILE ****************** */
@media (max-width: 575px) {
  /* Styles pour les écrans extra small (XS) */
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
    color: red;
  }
  .article-listing{ 
    flex-direction: column;
  }
}

/* ****************** MOBILE XL ****************** */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles pour les écrans small (SM) */
}

/* ****************** TABLETTE ****************** */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles pour les écrans medium (MD) */
}

/* ****************** ORDINATEUR ****************** */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles pour les écrans large (LG) */
}

/* ****************** ORDINATEUR XL ****************** */
@media (min-width: 1200px) {
  /* Styles pour les écrans extra large (XL) */
}
