:root {
  --oxford-red: #b43049;
  --primary-black: #565656;
  --tan-color: #c09f80;
  --light-sand: #d7cec7;
  --white: #f8f8f8;
  --black: #1d1c1c;
}

/* Class Naming: Use consistent kebab-case */
.primary-txt {
  color: var(--primary-black);
}
.secondary-txt {
  color: var(--oxford-red);
}
.light-tan {
  color: var(--tan-color);
}
.light-sand {
  color: var(--light-sand);
}
.white-txt {
  color: var(--white);
}
.black-txt {
  color: var(--black);
}

/* Global Styles */
li {
  list-style: none;
}
a {
  color: var(--oxford-red);
  text-decoration: none;
  cursor: pointer;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--oxford-red);
}

#special, .secondary-txt.plus-plus-special, .secondary-txt#plus-plus-special {
  display: none;
}
/* Mobile Styles */
@media (max-width: 575px) {
  body {
    padding-top: 60px; /* Add padding to body to account for sticky header */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }
  h1 {
    font-size: 1.6rem;
    color: var(--oxford-red);
  }
  p {
    font-size: 0.8rem;
    color: var(--primary-black);
  }

  #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-sand);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  /* Nav Buttons */
  #nav-menu > li {
    min-width: 80%;
    flex: 1;
    flex-basis: auto;
    flex-grow: 1;
    background-color: var(--primary-black);
    border-radius: 12px;
    padding: 10px 12px;
    margin: 12px 0;
    text-align: center;
    cursor: pointer;
  }
  
  #nav-menu > li > a {
    text-transform: uppercase;
    color: var(--white);
  }
  /* add hover affect */
  #nav-menu > li:hover,
  #nav-menu > li:hover > a {
    background-color: var(--white);
    color: var(--primary-black);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .article-listing,
  #articles-root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* START ARTICLE CARD */
  .article-listing > div,
  #articles-root > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    max-width: 65%;
    border: 1px solid var(--primary-black);
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

  .article-listing > div > img,
  #articles-root > div > img {
    max-width: 60%;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
  }

  .article-listing > div > img:hover,
  #articles-root > div > img:hover {
    /* create a flip image animation effect on hover */
    transform: rotateZ(360deg);
  }

  .article-listing > div > p {
    text-align: center;
  }

  .article-listing > div > h3 {
    color: var(--oxford-red);
    text-align: center;
  }

  .article-listing > div > a,
  .article-listing > div > p,
  .article-listing > div > h3 {
    text-align: center;
  }
  .article-listing > div > a,
  #articles-root > div > a {
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--primary-black);
    color: var(--white);
    padding: 4px 8px;
    /* replace html content with an arrow */
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    transform: rotate(5deg);
  }
  .article-listing > div > a:hover,
  #articles-root > div > a:hover {
    /* make button grow a little on hover */
    transform: scale(1.3) rotate(10deg);
    background-color: var(--white);
    border-style: dotted;
    color: var(--primary-color);
  }
  /* create sticky floating up arrow  */
  #up-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    cursor: pointer;
    display: block;
  }
  #up-arrow > a > img {
    width: 40px;
    height: 40px;
  }
}

/* Tablet Styles 

/* Additional Media Queries can follow */
